<!-- Page Content -->
<div class="container">

  <h1 class="text-center mt-3 hr-sect">About</h1>

  <h2 class="mt-0 mb-3">Once upon a time...
    <!-- <small>Subheading</small> -->
  </h2>

  <!-- Intro Content -->
  <div class="row">
    <div class="col-lg-6">
      <img class="img-fluid rounded mb-4" src="img/about-1.jpeg" alt="">
    </div>
    <div class="col-lg-6">
      <p>Ever since I was a young girl I have found HAPPINESS in baking. I  started out helping my mom make our weekly school treats, nightly desserts, and even 6 different types of pie for our family holidays. The recipes were endless. My passion and love for baking began to grow</p>

      <p>One day when I was trying to figure out life's next step after high school it came to me. I immediately knew I was destined to open a bakery. I decided to attend George Brown College for Bakery & Pastry Arts. Learning everything from bread's, cakes and pastries to even winning 2nd place in the 2007 Lindt chocolatier competition. After my 2 year program was up I went out looking for my next step and that's when I stumbled upon Sugar Chalet. I worked as a custom cake decorator and fell even more in love with sugar heaven.</p>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-6">
      <h2 class="mb-3">Every Sweet Treat is special.</h2>
      <p>Who stole the cookies from the cookie jar? Brianna stole the cookies from the cookie jar... Cookies have been a staple in my household all my life. We believe that they should be homemade with love and no additives. Brianna's Sweet Treats focuses on making the best soft, ooey gooey cookies with the freshest ingredients so you can enjoy delicious cookies full of flavor.  </p>
      <p>Here at Brianna's Sweet Treats we only use the BEST ingredients for our cheesecakes. Offering a variety of flavours to ensure everyone can enjoy them as much as we do!</p>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid" src="img/about-2.png"/>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-6">
      <img class="img-fluid rounded mb-4" src="img/about-3.png" alt="">
    </div>
    <div class="col-lg-6">
      <h2 class="mb-4">Custom Cakes</h2>
      <p>Brianna's Sweet Treats offers a variety of flavors and styles of cakes for any occasion.

Using homemade vanilla buttercream allows us to offer the <i>fondant</i> look without having the added sugar.

We use only the finest Lindt chocolate and Virgin Ice fondant to make our decorations

to ensure 100% satisfaction. Call us today to order your special occasion cake.</p>
    </div>
  </div>
</div>
<!-- /.container -->
