<!-- Page Content -->
 <div class="container">

   <h1 class="my-4 text-center text-lg-left">Gallery</h1>

   <div class="row text-center text-lg-left">

     <div class="col-lg-4 col-md-4 col-xs-6">
       <a href="#" class="d-block mb-4 h-100">
         <img class="img-fluid img-thumbnail" src="img/g1.png" alt="">
       </a>
     </div>
     <div class="col-lg-4 col-md-4 col-xs-6">
       <a href="#" class="d-block mb-4 h-100">
         <img class="img-fluid img-thumbnail" src="img/g2.png" alt="">
       </a>
     </div>
     <div class="col-lg-4 col-md-4 col-xs-6">
       <a href="#" class="d-block mb-4 h-100">
         <img class="img-fluid img-thumbnail" src="img/g3.png" alt="">
       </a>
     </div>
     <div class="col-lg-4 col-md-4 col-xs-6">
       <a href="#" class="d-block mb-4 h-100">
         <img class="img-fluid img-thumbnail" src="img/g4.jpg" alt="">
       </a>
     </div>
     <div class="col-lg-4 col-md-4 col-xs-6">
       <a href="#" class="d-block mb-4 h-100">
         <img class="img-fluid img-thumbnail" src="img/g5.jpg" alt="">
       </a>
     </div>
     <div class="col-lg-4 col-md-4 col-xs-6">
       <a href="#" class="d-block mb-4 h-100">
         <img class="img-fluid img-thumbnail" src="img/g6.jpg" alt="">
       </a>
     </div>
     <div class="col-lg-4 col-md-4 col-xs-6">
       <a href="#" class="d-block mb-4 h-100">
         <img class="img-fluid img-thumbnail" src="img/g7.jpg" alt="">
       </a>
     </div>
     <div class="col-lg-4 col-md-4 col-xs-6">
       <a href="#" class="d-block mb-4 h-100">
         <img class="img-fluid img-thumbnail" src="img/g8.jpg" alt="">
       </a>
     </div>
     <div class="col-lg-4 col-md-4 col-xs-6">
       <a href="#" class="d-block mb-4 h-100">
         <img class="img-fluid img-thumbnail" src="img/g9.jpg" alt="">
       </a>
     </div>
     <div class="col-lg-4 col-md-4 col-xs-6">
       <a href="#" class="d-block mb-4 h-100">
         <img class="img-fluid img-thumbnail" src="img/g10.jpg" alt="">
       </a>
     </div>
    <div class="col-lg-4 col-md-4 col-xs-6">
       <a href="#" class="d-block mb-4 h-100">
         <img class="img-fluid img-thumbnail" src="img/about-3.png" alt="">
       </a>
     </div>
     <div class="col-lg-4 col-md-4 col-xs-6">
       <a href="#" class="d-block mb-4 h-100">
         <img class="img-fluid img-thumbnail" src="img/about-2.png" alt="">
       </a>
     </div>
   </div>

 </div>
 <!-- /.container -->
