<div class="row mt-2">
  <div class="col-lg-3">
    <img class="img-fluid" src="img/<%- img %>" />
  </div>
  <div class="col-lg-9">
    <h5><%- name %></h5>
    <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
  </div>
</div>
